.contacts
  display: flex
  align-content: center
  align-items: center
  flex-direction: row
  justify-content: flex-start
  height: 630px
  width: 1150px
  margin: 0 auto
  background-color: $white
  &__container
    display: flex
    width: 525px
    height: 460px
    align-items:

    &_item
      display: flex
      align-items: flex-start
      flex-direction: column


      &_flag
        display: flex
        width: 40%
        justify-content: center
        align-items: flex-start
        align-content: flex-start



      &_h1
        display: flex
        font-family: Verdana
        font-weight: bolder

        font-size: 50px

      &_cell
        display: flex
        flex-direction: row
      &_button
        display: flex
        height: 240px
        align-items: flex-end



    &_map
      display: flex
      justify-content: center
      align-content: center
      align-items: center
      width: 525px
      height: 460px

.button_w227px
  width: 227px