// block featured
.featured
  display: flex
  align-content: flex-start
  align-items: flex-start
  justify-content: space-between
  margin: 0 auto
  width: 1150px
  height: 800px
  font-family: $fontVerdana
  font-size: 16px
  font-weight: bold


  &-item
    display: flex
    align-content: center
    justify-content: center
    width: 220px
    height: 800px

    &__h1
      display: flex
      align-items: flex-start
      justify-content: flex-start
      background-color: #af411d
      width: 547px
      height: 140px
      font-family: $fontVerdana
      font-size: 50px

    &__simple
      display: flex
      font-family: 'Open Sans', italic
      width: 225px
      padding-left: 30px

    &__table
      display: flex
      padding-top: 30px

      & p
       border-bottom: $line
       padding-left: 30px
       //background-color: red


    &__image
      display: flex
      background-image: url('../images/triple-set-desktop.jpg')
      background-repeat: no-repeat
      background-position: center
      width: 525px
      height: 100%


    &__column
      display: flex
      flex-direction: column
      align-content: flex-start
      align-items: flex-start
      justify-content: flex-start
      margin-right: auto
      width: 350px
      height: auto

.azur
  color: #00cc99
  font-family: 'Open Sans', bold
  font-size: 16px


