//вынеси определение переменных в _variables.sass
  
//colors
$color_danube_approx: #689cd2
$white: #fff
$urllogo: url("images/logo.png")
//fonts
//плохое название, лучше font_verdana
$font_0: Verdana

//я говорил уже, что так делать плохо
//глобально переопределять стили нужно только в том случае, если это действительно затрагивает все 
//элементы на сайте, и делать это лучше в файле _common.sass, он для этого и сделан
a
  color: black
  text-decoration: none


//оставлять закомментированный код - плохой тон, от этого лучше избавляться
//для этого у тебя есть собственно гит
.header
  display: flex
  height: 50px
  //justify-content: space-between
  padding: 0px
  margin: 10px
  //background: white
  max-width: 1150px
  font-family: $font_0
  font-size: 16px
  font-weight: bold
  color: black
  width: 100%
  position: fixed
  top: 0
  left: 0
  align-items: center
  align-content: center
  justify-content: center
  //overflow: auto

  &_section
    display: flex
    align-items: center
    height: 70px
    justify-content: space-between
    background-color: #00cc99

  &_item
    padding: 10px 15px
    font-size: 10px
    margin-left: 0px
    min-width: 110px
    height: 50px
    border-bottom: 1px solid rgba(black, 0.1)

  &_logo
    position: absolute
    left: calc(50% - 50px)
    width: 100px
    height: 50px


.headerbutton
  cursor: pointer

.w293
  width: 293px
  border: 1px solid rgba(black, 0.1)



//TODO: remove
.presentation
  padding-top: 100px

  &__code
    display: inline-block
    padding: 1px 3px
    color: #d61984
    background-color: #b2b2b2

  &__logo
    width: 200px
    height: 100px
    background-image: url(../images/logo.svg)
    background-repeat: no-repeat
    background-size: cover

  &__svg
    width: 100px
    fill: red
