//colors
$color_danube_approx: #689cd2
$white: #fff
$urllogo: url("images/logo.png")
//fonts
$font_0: Verdana

a
  color: fff
  text-decoration: none

.header
  display: flex
  justify-content: space-between
  padding: 10px
  margin: 10px
  background: $color_danube_approx
  color: $white
  max-width: 970px
  font-family: $font_0

.header_section
  display: flex
  align-items: center
  flex-wrap: nowrap

.header_item
  padding: 10px 15px
  font-size: 10px
  margin-left: 5px
  min-width: 150px


.headerbutton
  cursor: pointer

.logo
