extends layout/base.pug

block vars
  - var title = "Main page"

block extra-meta

block extra-styles

block content
    .header
        .header_section
            .w230.header_item.HeaderButton
                a(href='#') Каталог товаров
            .w200.header_item.HeaderButton
                a(href='#') Вязание на заказ
        .header_logo
            img(src="images/logo.svg", alt="", width="100")

        .header_section
            .header_item.HeaderButton
                a(href='#') К
            .header_item.HeaderButton
                a(href='#') ЧЧ
            .w320.header_item.HeaderButton
                a(href='#') Корзина:пока пуста


    .presentation

