extends layout/base.pug
block vars


block extra-meta

block extra-styles

block content
    //header block
    include layout/header.pug

    //home block
    include layout/home.pug


    //featured items block
    include layout/featured.pug

    //short blok
    include layout/about.pug

    //review block
    include layout/review.pug

    //contacts block
    include layout/contacts.pug

    //footer block
    include layout/footer.pug