extends layout/base.pug

block vars
  - var title = "Main page"

block extra-meta

block extra-styles

block content
  .sample
      img(src="images/logo.png", alt="", width="400")

block extra-js
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")