extends layout/base.pug

block vars
  - var title = "Main page"

block extra-meta

block extra-styles

block content



    .header
        .header_section
            .header_item.HeaderButton
                a(href='#') Каталог товаров
            .header_item.HeaderButton
                a(href='#') Вязание на заказ
        .header_logo
            .header_item.logo
                img(src="images/logo.png")

        .header_section
            .header_item.HeaderButton
                a(href='#') К
            .header_item.HeaderButton
                a(href='#') ЧЧ
            .header_item.HeaderButton
                a(href='#') Корзина:пока пуста


