extends layout/base.pug

block vars
  - var title = "Main page"

block extra-meta

block extra-styles

block content
    .header.dropdown
        .header_section
            .w230.header_item.HeaderButton.dropdown-child
                a(href='#') Каталог товаров
            .w200.header_item.HeaderButton.dropdown-child
                a(href='#') Вязание на заказ
            .header_logo.header_item.logo
                img(class='logo-item' src="images/close.svg", alt="", width="20")
                img(class='logo-menu' src="images/logo-menu.svg", alt="", width="20")

        .header_section
            .header_item_mobile
            .w85.header_item.HeaderButton.dropdown-child
                img(class='icon-mob-search' src="images/search.svg", alt="", width="12")
                a(class='mobsearch' href='#')| Поиск по сайту
            .w320.header_item.HeaderButton.dropdown-child
                img(class='icon-mob' src="images/cart.svg", alt="", width="12")

                a(href='#')  Корзина: пока пуста


    .home
        .home_top
            .w230-tablet.home_top_right
                a(href='#') Каталог товаров
            .w200-tablet.home_top_right
                a(href='#') Вязание на заказ
            .w-230.home_top_right
                a(href='#') Новые поступления
            .w-320.home_top_right
                a(href='#') Распродажа
            .white.home_top_right
                a(href='#')
            .w-320-l.home_top_right
                a(href='#') Бесплатная доставка по России

        .home_h1
            p
                |&nbsp&nbsp Милые штуки
                br
                |  для вашего дома


        .home_bottom
            .green-back
                .green-back-item
                    a.white(href='#') Предметы
                                br
                                |  интерьера

                    img.lamp(src="images/lamp.svg", alt="", width="62", height="62")
                .green-back-item-d
                    a.white(href='#') Детские
                                    br
                                    |  игрушки
                    img.lamp(src="images/toy.svg", alt="", width="62",height="62")
