extends layout/base.pug

block vars
  - var title = "Main page"

block extra-meta

block extra-styles

block content
    .header
        .header_section
            .w230.header_item.HeaderButton
                a(href='#') Каталог товаров
            .w200.header_item.HeaderButton
                a(href='#') Вязание на заказ
        .header_logo.header_item
            img(src="images/logo.svg", alt="", width="100")

        .header_section
            .header_item
            .w85.header_item.HeaderButton
                img(src="images/search.svg", alt="", width="9")
            .w320.header_item.HeaderButton
                img(src="images/cart.svg", alt="", width="9")

                a(href='#') &nbsp &nbsp Корзина:пока пуста


    .home
        .home_top
            .home_top_right
                a(href='#') Новые поступления
            .home_top_right
                a(href='#') Распродажа



