.about
  .about__item_h1
    p Коротко о нас:
  .about__container



    .about__item
      p.about__item_cell
        img.ico(class='colorize' src="images/icon-1.svg", width="40", height="40")
      p.about__item_cell
        | Экологическии
        br
        | чистые материалы
      br
        |
      p.about__item_cell
        |
        img.ico(class='colorize' src="images/icon-3.svg", width="40", height="40")
      p.about__item_cell
        | Скандинавский стиль
        br
        | по российской цене
      br
      p.about__item_cell
        |
        img.ico(class='colorize' src="images/icon-5.svg", alt="", width="40", height="40")
      p.about__item_cell
        | Увеличивает лайки
        br
        | на фотографиях

    .about__item
      p.about__item_cell
        img.ico(class='colorize' src="images/icon-2.svg", width="40", height="40")
      p.about__item_cell
        | Связанно вручную с
        br
        | любовью и умилением
      br
      p.about__item_cell
        |
        img.ico(class='colorize' src="images/icon-4.svg", width="40", height="40")
      p.about__item_cell
        | Поддержка отечественого
        br
        | производителя
      br
      p.about__item_cell
        |
        img.ico(class='colorize' src="images/icon-6.svg", alt="", width="40", height="40")
      p.about__item_cell
        | Постовляется
        br
        | в подарочной упаковке

