.contacts
    .contacts__container
        .contacts__container_item_flag
            img.ico(class='colorize' src="images/flag.svg", width="40", height="90")
        .contacts__container_item
            .contacts__container_item_h1
              p Контакты
            .contacts__container_item_table
                .contacts__container_item_cell
                  p e-mail: &nbsp &nbsp &nbsp &nbsp
                  p    info@mimimishkashop.ru

                .contacts__container_collumn
                        .contacts__container_item_cell
                            p адрес: &nbsp &nbsp &nbsp &nbsp &nbsp
                            p Г.Санкт-Петербург,
                        .contacts__container_item_cell
                            p &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp ул. Большая Конюшенная,
                        .contacts__container_item_cell
                            p &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp дом 19/8, офис 101
            .contacts__container_item_button
                          button.button_w227px.button_write НАПИШИТЕ НАМ

    .contacts__container_map
