.featured
    .featured-item
        a.azur(href='#')  ТОВАР
            br
            |  НЕДЕЛИ
    .featured-item__column
        .featured-item__h1
            p
                |Вязаные корзинки

        .featured-item__simple
            p Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
        .featured-item__table
            .div
                p «Тиффани»/серый  25 см  15 см
            .div
                p Цвет:  Диаметр:  Высота:
            .div
                p Цвет:  Диаметр:  Высота:

    .featured-item__image