.featured
    .fe-1
        a.azur(href='#')  ТОВАР
            br
            |  НЕДЕЛИ
    .fe-2
        .fe-2-1
            p
                |Вязаные корзинки

        .fe-2-2
            p Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
        .fe-2-3
            .div
                p «Тиффани»/серый  25 см  15 см
            .div
                p Цвет:  Диаметр:  Высота:
            .div
                p Цвет:  Диаметр:  Высота:

    .fe-3