.featured

    .featured__item
        a.azur(href='#')  ТОВАР НЕДЕЛИ
    .featured__item_column
        .featured__item_h1
            p
                |Вязаные корзинки

        .featured__item_simple
            p Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
        .featured__item_container
            .featured__item_table
                .featured__item_table_cascade
                    p  Цвет:
                .featured__item_table_cascade
                    p  Диаметр:
                .featured__item_table_cascade
                    p Высота:
            .featured__item_table
                .featured__item_table_cascade
                    p «Тиффани»/серый
                .featured__item_table_cascade
                    p 25 см
                .featured__item_table_cascade
                    p 15 см

        .featured__item_order
            p Цена: 990 рублей
            button.button_order ЗАКАЗАТЬ


