.footer
  .footer__left
      p
  .footer__center
      .footer__center_insta
      .footer__center_face
      .footer__center_twit

  .footer__right
      a Разработано
svg.presentation__svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='90px' width='69px')
    use(xlink:href="#icon-sample")