html(lang="en")
 header
     .header.dropdown
         .header-section
             .header-item.header-item__230px.dropdown-child
                 a.big(href='#') Каталог товаров
             .header-item_200px.header-item.dropdown-child
                 a.big(href='#') Вязание на заказ
             .header-logo.logo
                 img(class='logo-item' src="images/close.svg", alt="", width="20")
                 img(class='logo-menu' src="images/logo-menu.svg", alt="", width="20")

         .header-section
             .header-item_mobile
             .w85.header-item.dropdown-child
                 img(class='icon-mob-search' src="images/search.svg", alt="", width="12")
                 a.big(class='mobsearch' href='#')| Поиск по сайту
             .w320.header-item.HeaderButton.dropdown-child
                 img(class='icon-mob' src="images/cart.svg", alt="", width="12")

                 a.big(href='#')  Корзина: пока пуста