html(lang="en")
 .header
         .header__section.no-menu
             .header__item.header__item_230px.dropdown-child
                 a.big(href='#') Каталог товаров
             .header__item_200px.header__item.dropdown-child
                 a.big(href='#') Вязание на заказ
         .header__logo.logo
                 img(id="menu-class" class='logo-item' class='no-menu' src="images/close.svg", alt="", width="20")
                 img(class='logo-menu' src="images/logo-menu.svg", alt="", width="20")

         .header__section.no-menu
             .header__item_mobile
             .header__item_85px.header__item.dropdown-child
                 img(class='icon-mob-search' src="images/search.svg", alt="", width="12")
                 a.big(class='mobsearch' href='#')| Поиск по сайту
             .header__item_320px.header__item.HeaderButton.dropdown-child
                 img(class='icon-mob' src="images/cart.svg", alt="", width="12")
                 a.big(href='#')  Корзина: пока пуста