.home
    .home-top
        .home-top-item__hidden.home-top-item
            a.big(href='#') Каталог товаров
        .home-top-item__visible.home-top-item
            a.big(href='#') Вязание на заказ
        .home-top-item__bottom.home-top-item
            a.big(href='#') Новые поступления
        .home-top-item__bottom.home-top-item
            a.big(href='#') Распродажа
        .white.home-top-item
            a.big(href='#')
        .home-top-item__italic.home-top-item
            a(href='#') Бесплатная доставка по России

    .home_h1
        p
            |&nbsp&nbsp Милые штуки
            br
            |  для вашего дома


    .home_bottom
        .green-back
            .green-back-item
                a.white(href='#') Предметы
                    br
                    |  интерьера

                img.lamp(src="images/lamp.svg", alt="", width="62", height="62")
            .green-back-item-dark
                a.white(href='#') Детские
                    br
                    |  игрушки
                img.lamp(src="images/toy.svg", alt="", width="62",height="62")
