.home
    .home__top
        .home__top_item_hidden.home__top_item
            a.big(href='#') Каталог товаров
        .home__top_item_visible.home__top_item
            a.big(href='#') Вязание на заказ
        .home__top_item_bottom.home__top_item
            a.big(href='#') Новые поступления
        .home__top_item_bottom.home__top_item
            a.big(href='#') Распродажа
        .white.home__top_item
            a.big(href='#')
        .home__top_item_italic.home__top_item
            a(href='#') Бесплатная доставка по России

    .home__h1 Милые штуки ручной
            br
            | работы для дома

    .home__bottom
        .green-back
            .green-back__item
                a.white(href='#') Предметы
                    br
                    |  интерьера
                .img_block
                  img.lamp(src="images/lamp.svg", alt="", width="62", height="62")
            .green-back__item_dark
                a.white(href='#') Детские
                    br
                    |  игрушки
                .img_block
                  img.lamp(src="images/toy.svg", alt="", width="62",height="62")
