.review
    .review__text
        .review__text_h1
          p Отзывы
        .review__text_body
          p Я молодая мама, но все равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке и мои фотографии сразу стали более стильнее, а также набирают больше лайков!
        .review__text_signature_bold
          p Анастасия Красильникова
        .review__text_signature
          p @misssskras

    .review__feedback
        .review__feedback_container
             button.button_write НАПИСАТЬ
        .review__feedback_arrows
            img( src="images/arrow_left.svg", width="40", height="40")
            p  &nbsp &nbsp &nbsp &nbsp
            img( src="images/arrow_right.svg", width="40", height="40")